@keyframes blendin {
  0% {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    filter: blur(4px);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
  }
}

@mixin anim($name, $duration, $delay: 0s) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-delay: $delay;
  animation-play-state: paused;
}

.anim-blendin {
  @include anim(blendin, 0.5s)
}

.anim-blendin-slow {
  @include anim(blendin, 2s)
}

.anim-slidein {
  @include anim(slidein, 0.5s)
}

.anim-slidein-slow {
  @include anim(slidein, 1s, 1s)
}

.anim-start {
  animation-play-state: running;
}
