$font-title: "Colaborate Bold", sans-serif;
$font-content: "Orkney Regular", sans-serif;

@font-face {
    font-family: "Orkney Regular";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Orkney"), local("Orkney Regular"), url("../fonts/orkney-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Colaborate Bold";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Colaborate-Bold"), local("ColabBol"), url("../fonts/Colaborate/ColabBol.otf") format("opentype");
}

@font-face {
    font-family: "Colaborate Light";
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
    src: local("Colaborate-Light"), local("ColabLig"), url("../fonts/Colaborate/ColabLig.otf") format("opentype");
}
