@media only screen and (max-width: 992px) {
  /***************************************************/
  /* GLOBAL SECTION AND WRAPPER                      */
  /***************************************************/

  div.section {
    text-align: center;
    padding: 0px;
    width: 100%;
    font-size: 1rem;
  }

  div.section_wrapper {
    flex-direction: column;
    max-width: 600px;
    // Center horizontally
    margin: 0 auto;
  }

  div.row {
    padding: 4rem 1rem;
    text-align: center;
  }

  h1.section-title {
    font-size: 1.5rem;
  }

  .row.bright .section_wrapper {
    flex-direction: column-reverse;
  }

  .row .button {
    margin-bottom: 2rem;
  }

  div.section.right.code { text-align: left ;}

  /***************************************************/
  /* NAVIGATION                                      */
  /***************************************************/

  nav {
   padding: 0;
   border-width: 2px;
  }

  .navbar a {
    font-size: 1rem;
  }

  .navbar-left {
    display: none;
  }

  /***************************************************/
  /* HERO-BOX                                        */
  /***************************************************/

  div.home {
    // Subtract navbar height
    height: calc(100vh - 44px);
    padding: 6rem 1rem;
  }

  div.logo {
    padding-top: 0;
  }

  img.logo-header {
    max-width: 500px;
  }

  h1.header {
    margin-top: 0px;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 auto;
  }

  a.button {
    display: block;
    background-color: #ff662a;
    padding: 16px 32px;
    color: #000;
    transition: box-shadow 0.2s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    max-width: 225px;
  }

  img.logo-header {
    width: 50%;
    max-width: 400px;
    padding-bottom: 15px;
  }

  .footer {
    position: absolute;
    bottom: 2.5rem;
  }

  .footer-right {
    position: unset;
  }

  /***************************************************/
  /* PLATFORM INDEPENDENT                            */
  /***************************************************/

  img.target_icon {
    margin: 0;;
  }

  div.section.os img {
    width: 33%;
    padding: 0.5rem;
    box-sizing: border-box;
    max-width: 150px;
  }
}

@media only screen and (max-width: 992px) and (orientation:portrait) {
  .navbar {
    position: unset;
    display: flex;
    // Order entries in a single column
    flex-direction: column;
  }

  div.home {
    // Subtract navbar height
    height: calc(100vh - 170px);
  }
}

@media only screen and (max-width: 992px) and (orientation:landscape) {
  div.home {
    padding: 1rem 1rem;
  }

  .footer-center {
    display: none;
  }

  .footer {
    bottom: 1rem;
  }
}
