@import "animations";
@import "fonts";

$primary-color: #eee;
$secondary-color: #ff662a;
$secondary-color-dark: #e55b24;
$secondary-color-bright: #ff7f4c;
$round-edge: 5px;
$margin-small: 10px;
$margin-regular: 15px;
$margin-big: 30px;
$margin-huge: 80px;

::selection {
  color: #181d23;
  background: #f1935c;
}

html, body {
  margin: 0px;
  height: 100%;
}

html {
  background: #3a4a64;
  background: radial-gradient(circle, rgba(58,74,100,1) 0%, rgba(27,32,41,1) 100%);
  // background-attachment: fixed;
  scroll-behavior: smooth;
  scrollbar-color: #f1935c #181d23;
}

html::-webkit-scrollbar-track {
    background: #181d23;
}
html::-webkit-scrollbar-thumb {
    background-color: #f1935c;
}

body {
  font-family: $font-content;
  text-align: center;
  font-size: 1.3rem;
  color: $primary-color;
}

p {
  margin-top: 0px;
}

p.small {
  font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
  padding-bottom: $margin-regular;
}

h1.header {
  margin-top: 0px;
  font-size: 2.0rem;
}

h1.section-title {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.2rem;
  color: $secondary-color;
  text-shadow: 1px 1px 1px #00000084;
  margin-top: $margin-huge;
}

div.section.left h3{
  text-align: left;
}

img.h1 {
  height: 3rem;
}

img.shadow {
  border-radius: 4px;
}

img.target_icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(187deg) brightness(102%) contrast(102%);
  margin: 0px 40px 30px 0px;
}

figure {
  margin: 0;
}

figcaption {
  text-align: justify;
  margin-top: 12px;
  font-size: 0.85rem;
  display: inline-block;
}

a {
  text-decoration: none;
  color: $secondary-color;
  transition: color .25s;
}

a:hover {
  color: $primary-color;
}

a.button {
  position: relative;
  display: inline-block;
  background-color: $secondary-color;
  margin: $margin-regular;
  padding: $margin-regular 100px;
  box-shadow: 0px 0px 3px #0009,
    inset 0 -0.3rem 0 0 #0006;
  color: #000;
  font-family: $font-content;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10px;
  // border: 2px solid $secondary-color-dark;
  transition: box-shadow .2s ease-in-out;
  text-transform: uppercase;
}

a.button:hover {
  background-color: $secondary-color-bright;
  box-shadow: 0px 0px 5px #000f,
    inset 0 -0.3rem 0 0 #0006;
  transition-timing-function: linear;
  transition-duration: .1s;
  transition-property: box-shadow, background-color, color, border-color;
  background-color: #606060;
  color: #fff;
  border-color: #000a;
}

a.button.disabled {
  background-color: $primary-color;
  opacity: 0.3;
  color: #fff;
  cursor: not-allowed;
  border-color: #000;
}

nav {
  width: 100%;
  padding: 0px;
  z-index: 50;
  background-color: #222831;
  border-bottom: 5px solid rgba(0,0,0,.29);
  font-size: 1rem;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 0px;
  text-align: center;
  font-family: $font-content;
}

.navbar-left {
  position: absolute;
  left: 10px;
  line-height: 1rem;
}

.navbar a {
  color: $primary-color;
  display: inline-block;
  text-align: center;
  padding: $margin-small $margin-big;
  position: relative;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active:hover {
  color: $secondary-color;
}

.navbar a.active {
  color: #ffa16b;
}

nav.nav {
  position: sticky;
  top: 0px;
  z-index: 100;
}

img.header-logo {
  height: 48px;
  margin-right: -8px;
  margin-top: -10px;
}

.navbar .brand {
  display: inline-block;
  float: none;
  text-shadow: 0 0 0 transparent;
  padding: 0;
  padding-left: 20px;
  color: #eee;
}

.navbar .brand-link {
  display: inline-block;
  text-shadow: 0 0 0 transparent;
  padding: 0.4rem 2px;
  color: #eee;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Cantarell", sans-serif;
}

body nav * {
  line-height: unset !important;
}

a.api {
  color: #ffa16b;
}

a.api::before {
  font-family: "Arial Bold", sans-serif;
  content: "•";
  color: #ffa16b;
}

div.home {
  height: calc(100vh - 73px);
  padding: 0px $margin-big;
  box-sizing: border-box;
}

div.logo {
  padding-top: 20vh;
}

div.addon-list {
  margin-top: 10vh;
}

div.addon-list img {
  width: 8rem;
  height: 8rem;
  padding: 0px $margin-small;
}

div.addon-list img:hover {
  filter: drop-shadow(0px 0px 10px #00000055);
}

div.button-wrapper {
  margin-top: 40px;
}

.footer {
  bottom: $margin-small;
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 4rem;
  color: #fff;
}

.footer-left {
  left: $margin-small;
}

.footer-right {
  position: absolute;
  right: $margin-small;
  margin-top: 2rem;
}

.footer-center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

div.row {
  padding: $margin-big 200px;
  text-align: center;
  padding-bottom: 100px;
}

div.row.dark {
  background-color: #181d23;
}

div.row.bright {
  background-color: #3a4a64;
}

.shadow {
  box-shadow: 0px 5px 20px #000000aa;
}

div.section_wrapper {
  display: flex;
  justify-content: center;
}

div.section {
  width: 40%;
  text-align: left;
  padding: 0px $margin-big;
}

div.left {
  order: 1;
  text-align: right;
}

div.center {
  order: 1;
  text-align: center;
}

div.right {
  order: 2;
}

.section img {
  width: 100%;
}

div.section.image.left {
  text-align: right;
}

div.section.image.right {
  text-align: left;
}

ul {
  text-align: left;
}

pre {
  display: block;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  margin: 0;
  padding: 0.5em;
  white-space: pre;
  overflow-x: auto;
}

code, pre {
  background: #222831;
  color: #ccc;
  font-family: "Cascadia Code", monospace;
}

pre.example {
  position: relative;
  padding-top: 34.5px;
}

pre.example::before {
  position: absolute;
  top: -1px;
  left: -1px;
  content: "Example";
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 4px 0;
  background: #36517d;
  color: #eee;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.60);
  padding: 4px 30px;
}

code.prettyprint > span.cmt {
  color: #998;
  font-style: italic;
}

code.prettyprint > span.type {
  color: #f2524a;
}

code.prettyprint > span.val {
  color: #ead45d;
}

code.prettyprint > span.str {
  color: #8ce16d;
}

code.prettyprint > span.kwd {
  color: #ef7eff;
}
code.prettyprint > span.fct {
  color: #71caff;
}

#platform div.section_wrapper {
  display: block;
}

#platform div.section {
  width: 100%;
  text-align: center;
}

img.target_icon { margin: 0; }

#platform div.section.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

img.target_icon {
  width: 10%;
}

@import "mobile";
